.single-post h1,
.single-post h2,
.single-post h3 {
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}

.breacrumbs {
  font-size: 12px;
  letter-spacing: 1px;
}

.single-post-tag-list {
  display: flex;
  flex-wrap: wrap;
}

.single-post-tag-list-item {
  margin-bottom: 10px;
}

.single-post-tag-list-item a {
  display: inline-block;
  padding: 1.2em 1.5em;
  margin-right: 0.8em;
  background-color: var(--color-light-2);
  font-size: 90%;
  letter-spacing: 1px;
}

.post-navigation a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
}

@media (min-width: 767px) {
  .post-navigation .next {
    text-align: end;
  }
}
