{% include "partials/head.njk" %}
{% include "partials/header.njk" %}

<section class="pt-xlarge pb-medium" data-scroll-section>
    <div class="container">
        {{ content | safe }}
    </div>
</section>


{% include "partials/footer.njk" %}
{% include "partials/foot.njk" %}