:root {
  --color-accent-1: #06d6a0;
  --color-accent-2: #224637;
    --color-light-1: #fff;
    --color-light-2: #F7FAF8;
    --color-light-3: #f7faf881;
    --color-white: #fff;
    --color-dark-1: rgb(14, 14, 14);
    --color-dark-2: rgba(14, 14, 14, 0.486);
    --color-black: rgb(14, 14, 14);
    --color-heading: #0c3340;
    --color-text: #4f646b;
    --shadow-img: 0px 10px 50px rgba(17, 17, 17, 0.06), 0px -10px 50px rgba(17, 17, 17, 0.06);
    --color-border: rgba(153, 153, 153, 0.1333333333);
  }
  
  [data-theme=dark] {
    --color-accent-1: #06d6a0;
    --color-accent-2: #224637;
    --color-light-1: rgb(27, 34, 41);
    --color-light-2: rgb(33, 43, 52);
    --color-light-3: rgba(33, 43, 52, 0.5);
    --color-white: #fff;
    --color-dark-1: #fff;
    --color-dark-2: rgba(255, 255, 255, 0.479);
    --color-black: rgb(14, 14, 14);
    --color-heading: #fff;
    --color-text: #aaa;
    --shadow-img: 0px 10px 30px rgba(17, 17, 17, 0.1), 0px -10px 30px rgba(17, 17, 17, 0.1);
    --color-border: rgba(153, 153, 153, 0.1333333333);
  }
  
  @media (prefers-color-scheme:dark) {
    :root {
      --color-accent-1: #06d6a0;
      --color-accent-2: #224637;
      --color-light-1: rgb(27, 34, 41);
      --color-light-2: rgb(33, 43, 52);
      --color-light-3: rgba(33, 43, 52, 0.5);
      --color-white: #fff;
      --color-dark-1: #fff;
      --color-dark-2: rgba(255, 255, 255, 0.479);
      --color-black: rgb(14, 14, 14);
      --color-heading: #fff;
      --color-text: #aaa;
      --shadow-img: 0px 10px 30px rgba(17, 17, 17, 0.1), 0px -10px 30px rgba(17, 17, 17, 0.1);
      --color-border: rgba(153, 153, 153, 0.1333333333);
    }
  }

  .color-accent-1 {
    color: var(--color-accent-1)
  }
  .color-light-1 {
    color: var(--color-light-1)
  }
  .color-dark-1 {
    color: var(--color-dark-1)
  }
  .color-black {
    color: var(--color-black)
  }
  .color-white {
    color: var(--color-white)
  }

  .bg-accent-1 {
    background-color: var(--color-accent-1)
  }
  .bg-light-1 {
    background-color: var(--color-light-1)
  }
  .bg-light-2 {
    background-color: var(--color-light-2)
  }
  .bg-light-3 {
    background-color: var(--color-light-3)
  }
  .bg-dark-1 {
    background-color: var(--color-dark-1)
  }
  .bg-dark-2 {
    background-color: var(--color-dark-2)
  }
  .bg-black {
    background-color: var(--color-black)
  }