:root {
  --transPower1: cubic-bezier(0,.5,.21,.97);
  --transPower2: cubic-bezier(.83,0,.17,1);
}

.transition-fade {
  transition: 500ms var(--transPower1);
  transform: translateY(0)
}
html.is-animating .transition-fade {
  opacity: 0
}
html.is-rendering .transition-fade {
  transition: 500ms var(--transPower1);
  transition-delay: 400ms;
}


.bg-gradient {
  transition-property: transform;
  transition-duration: 500ms;
}

html.is-animating .bg-gradient {
  transform: scale(10)
}




.swup-progress-bar {
  height: 2px;
  background-color: var(--color-light-2);
}

/*--

.site-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-1);
  pointer-events: none;
  transition: 1000ms var(--transPower2);
  transform: translateY(100%);
  transform-origin: top;
  z-index: 999;
}
html.is-animating .site-overlay {
  transform: translateY(-100%);
}
html.is-leaving .site-overlay {
  transform: translateY(0)
}

--*/