:root {
  --color-accent-1: #44fb85;
  --color-accent-2: #073b4c;
  --color-light-1: #fff;
  --color-light-2: #F7FAF8;
  --color-white: #fff;
  --color-dark-1: rgb(14, 14, 14);
  --color-black: rgb(14, 14, 14);
  --color-heading: #0c3340;
  --color-text: #4f646b;
  --shadow-img: 0px 10px 50px rgba(17, 17, 17, 0.06), 0px -10px 50px rgba(17, 17, 17, 0.06);
  --color-border: #eee;
}

[data-theme=dark] {
  --color-accent-1: #44fb85;
  --color-accent-2: #073b4c;
  --color-light-1: rgb(5, 5, 5);
  --color-light-2: rgb(17, 17, 17);
  --color-white: #fff;
  --color-dark-1: #fff;
  --color-black: rgb(14, 14, 14);
  --color-heading: #fff;
  --color-text: #aaa;
  --shadow-img: 0px 10px 30px rgba(17, 17, 17, 0.1), 0px -10px 30px rgba(17, 17, 17, 0.1);
  --color-border: #2e2e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent-1: #44fb85;
    --color-accent-2: #073b4c;
    --color-light-1: rgb(5, 5, 5);
    --color-light-2: rgb(17, 17, 17);
    --color-white: #fff;
    --color-dark-1: #fff;
    --color-black: rgb(14, 14, 14);
    --color-heading: #fff;
    --color-text: #aaa;
    --shadow-img: 0px 10px 30px rgba(17, 17, 17, 0.1), 0px -10px 30px rgba(17, 17, 17, 0.1);
    --color-border: #2e2e2e;
  }
}
.color-accent-1 {
  color: var(--color-accent-1);
}

.color-light-1 {
  color: var(--color-light-1);
}

.color-dark-1 {
  color: var(--color-dark-1);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.bg-accent-1 {
  background-color: var(--color-accent-1);
}

.bg-light-1 {
  background-color: var(--color-light-1);
}

.bg-light-2 {
  background-color: var(--color-light-2);
}

.bg-dark-1 {
  background-color: var(--color-dark-1);
}

.bg-black {
  background-color: var(--color-black);
}
