:root {
  --transPower1: cubic-bezier(.25,.24,.22,1.55);
  --transPower2: cubic-bezier(.83,0,.17,1);
}

.transition-fade {
  transition: 1000ms 400ms var(--transPower1);
  transform: translateY(0);
}

html.is-animating .transition-fade {
  transition: 1300ms var(--transPower1);
  transform: translateY(90px);
  opacity: 0;
}

html.is-leaving .transition-fade {
  transform: translateY(-90px);
  opacity: 0;
}

.site-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-1);
  pointer-events: none;
  transition: 1000ms var(--transPower2);
  transform: translateY(100%);
  transform-origin: top;
  z-index: 999;
}

html.is-animating .site-overlay {
  transform: translateY(-100%);
}

html.is-leaving .site-overlay {
  transform: translateY(0);
}

.swup-progress-bar {
  height: 2px;
  background-color: var(--color-light-2);
}
