.archive-post-image-wrap {
    position: relative
}

.archive-post-image-wrap::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.85
}

.archive-post-image-wrap.red::before {
    background: rgb(150, 0, 0);
}
.archive-post-image-wrap.green::before {
    background: rgb(0, 223, 119);
}
.archive-post-image-wrap.blue::before {
    background: rgb(0, 51, 145);
}
.archive-post-image-wrap.violet::before {
    background: rgb(101, 0, 168);
}

.archive-post-thumb img {
    aspect-ratio: 8/5;
    object-fit: cover;
    object-position: center
}

.archive-post-title-wrap {
    padding: 2em 2em 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}

.archive-post-title {
    color: var(--color-white)
}

.archive-post-date {
    color: var(--color-white);
    opacity: .6
}

.hover-thumb {
    overflow: hidden;
}

.hover-thumb img {
 transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1)
}

.hover-thumb img:hover {
    transform: scale(1.1)
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 13px;
    font-weight: 600;
    border: 1px solid var(--color-border);
}

[aria-current="active"] {
    color: var(--color-accent-1);
}

@media(max-width:768px) {
.hover-thumb img {
    aspect-ratio: 26/20;
    object-fit: cover
   }
}