:root {
  --font-primary: "Jost", sans-serif;
  --font-secondary: "Lato", sans-serif;
  --xxl-max-font-size: 208;
  --xxl-min-font-size: 128;
  --xxl-line-height: .9;
  --xxl-letter-spacing: -1;
  --xl-max-font-size: 105;
  --xl-min-font-size: 42;
  --xl-line-height: .9;
  --xl-letter-spacing: -1;
  --h1-max-font-size: 62;
  --h1-min-font-size: 36;
  --h1-line-height: 1.1;
  --h1-letter-spacing: 0;
  --h2-max-font-size: 45;
  --h2-min-font-size: 31;
  --h2-line-height: 1.2;
  --h2-letter-spacing: 1;
  --h3-max-font-size: 38;
  --h3-min-font-size: 26;
  --h3-line-height: 1.3;
  --h3-letter-spacing: 0;
  --h4-max-font-size: 30;
  --h4-min-font-size: 31;
  --h4-line-height: 1.5;
  --h4-letter-spacing: 0;
  --h5-max-font-size: 22;
  --h5-min-font-size: 23;
  --h5-line-height: 1.5;
  --h5-letter-spacing: 0;
  --h6-max-font-size: 17;
  --h6-min-font-size: 17;
  --h6-line-height: 1.5;
  --h6-letter-spacing: 0;
  --subheading-max-font-size: 16;
  --subheading-min-font-size: 12;
  --subheading-line-height: 1;
  --subheading-letter-spacing: 2;
  --paragraph-max-font-size: 19;
  --paragraph-min-font-size: 17;
  --paragraph-line-height: 1.8;
  --paragraph-letter-spacing: 0.8;
  --blockquote-max-font-size: 24;
  --blockquote-min-font-size: 16;
  --blockquote-letter-spacing: 0;
  --dropcap-max-font-size: 90;
  --dropcap-min-font-size: 60 ;
}

h1 {
  transition-delay: 0ms !important;
  animation-delay: 0ms !important;
}

h1,
h2,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4,
h5,
h6 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.xxl {
  font-family: var(--font-primary);
  line-height: var(--xxl-line-height);
  font-size: calc(var(--h1-min-font-size) * 1px);
  font-weight: 600;
  color: var(--color-heading);
  letter-spacing: calc(var(--xxl-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  .xxl {
    font-size: calc(var(--xxl-min-font-size) * 1px + (var(--xxl-max-font-size) - var(--xxl-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  .xxl {
    font-size: calc(var(--xxl-max-font-size) * 1px);
  }
}
.xl {
  font-family: var(--font-primary);
  line-height: var(--xl-line-height);
  font-size: calc(var(--xl-min-font-size) * 1px);
  font-weight: 700;
  color: var(--color-heading);
  letter-spacing: calc(var(--xl-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  .xl {
    font-size: calc(var(--xl-min-font-size) * 1px + (var(--xl-max-font-size) - var(--xl-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  .xl {
    font-size: calc(var(--xl-max-font-size) * 1px);
  }
}
h1, .h1 {
  font-family: var(--font-primary);
  line-height: var(--h1-line-height);
  font-size: calc(var(--h1-min-font-size) * 1px);
  font-weight: 800;
  color: var(--color-heading);
  letter-spacing: calc(var(--h1-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  h1, .h1 {
    font-size: calc(var(--h1-min-font-size) * 1px + (var(--h1-max-font-size) - var(--h1-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  h1, .h1 {
    font-size: calc(var(--h1-max-font-size) * 1px);
  }
}
h2, .h2 {
  font-family: var(--font-primary);
  line-height: var(--h2-line-height);
  font-size: calc(var(--h2-min-font-size) * 1px);
  font-weight: 800;
  color: var(--color-heading);
  letter-spacing: calc(var(--h2-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  h2, .h2 {
    font-size: calc(var(--h2-min-font-size) * 1px + (var(--h2-max-font-size) - var(--h2-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  h2, .h2 {
    font-size: calc(var(--h2-max-font-size) * 1px);
  }
}
h3, .h3 {
  font-family: var(--font-primary);
  line-height: var(--h3-line-height);
  font-size: calc(var(--h3-min-font-size) * 1px);
  font-weight: 500;
  color: var(--color-heading);
  letter-spacing: calc(var(--h3-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  h3, .h3 {
    font-size: calc(var(--h3-min-font-size) * 1px + (var(--h3-max-font-size) - var(--h3-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  h3, .h3 {
    font-size: calc(var(--h3-max-font-size) * 1px);
  }
}
h4, .h4 {
  font-family: var(--font-primary);
  line-height: var(--h4-line-height);
  font-size: calc(var(--h4-min-font-size) * 1px);
  font-weight: 500;
  color: var(--color-heading);
  letter-spacing: calc(var(--h4-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  h4, .h4 {
    font-size: calc(var(--h4-min-font-size) * 1px + (var(--h4-max-font-size) - var(--h4-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  h4, .h4 {
    font-size: calc(var(--h4-max-font-size) * 1px);
  }
}
h5, .h5 {
  font-family: var(--font-primary);
  line-height: var(--h5-line-height);
  font-size: calc(var(--h5-min-font-size) * 1px);
  font-weight: 500;
  color: var(--color-heading);
  letter-spacing: calc(var(--h5-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  h5, .h5 {
    font-size: calc(var(--h5-min-font-size) * 1px + (var(--h5-max-font-size) - var(--h5-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  h5, .h5 {
    font-size: calc(var(--h5-max-font-size) * 1px);
  }
}
h6, .h6 {
  font-family: var(--font-primary);
  line-height: var(--h6-line-height);
  font-size: calc(var(--h6-min-font-size) * 1px);
  font-weight: 600;
  color: var(--color-heading);
  letter-spacing: calc(var(--h6-letter-spacing) * 1px);
}

@media screen and (min-width: 320px) {
  h6, .h6 {
    font-size: calc(var(--h6-min-font-size) * 1px + (var(--h6-max-font-size) - var(--h6-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  h6, .h6 {
    font-size: calc(var(--h6-max-font-size) * 1px);
  }
}
.subheading {
  font-family: var(--font-primary);
  line-height: var(--subheading-line-height);
  font-size: calc(var(--subheading-min-font-size) * 1px);
  font-weight: 600;
  color: var(--color-heading);
  letter-spacing: calc(var(--subheading-letter-spacing) * 1px);
  opacity: 0.5;
}

@media screen and (min-width: 320px) {
  .subheading {
    font-size: calc(var(--subheading-min-font-size) * 1px + (var(--subheading-max-font-size) - var(--subheading-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  .subheading {
    font-size: calc(var(--subheading-max-font-size) * 1px);
  }
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: calc(var(--paragraph-min-font-size) * 1px);
  line-height: var(--paragraph-line-height);
  letter-spacing: calc(var(--paragraph-letter-spacing) * 1px);
  color: var(--color-text);
}

@media screen and (min-width: 320px) {
  p {
    font-size: calc(var(--paragraph-min-font-size) * 1px + (var(--paragraph-max-font-size) - var(--paragraph-min-font-size)) * (100vw - 320px) / 1600);
  }
}
@media screen and (min-width: 1920px) {
  p {
    font-size: calc(var(--paragraph-max-font-size) * 1px);
  }
}
blockquote {
  border-left: 2px solid var(--color-heading);
  margin-left: 0;
  padding-left: 30px;
  font-size: 24px;
}

small {
  font-size: calc(var(--subheading-min-font-size) * 1px);
}

.big-text {
  position: relative;
}

.big-text span:last-child {
  position: absolute;
  top: -0.5em;
  left: 0;
  width: max-content;
  opacity: 0.05;
  z-index: -1;
}

.text-stroke {
  color: var(--color-light-1) !important;
  background: var(--color-light-1);
  text-shadow: 2px 0 0 var(--color-dark-1), -2px 0 0 var(--color-dark-1), 0 2px 0 var(--color-dark-1), 0 -2px 0 var(--color-dark-1), 1px 1px 0 var(--color-dark-1), -1px -1px 0 var(--color-dark-1), 1px -1px 0 var(--color-dark-1), -1px 1px 0 var(--color-dark-1), 1px 1px 5px var(--color-dark-1);
}

.stroke-light {
  text-shadow: 3px 3px 15px var(--color-white);
}

.text-center {
  text-align: center;
}
