<section id="sticky-wrap" class="py-5" data-scroll-section>
    <div class="row">
        <div id="sticky" class="col-md-4 mt-2 pt-small">
            <h2 data-scroll data-scroll-sticky data-scroll-target="#sticky">
                Ostatnie realizacje
            </h2>
        </div>
        <div class="col-md-8 mb-3">
		    <ul class="hover-list mt-5">
            <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Portal kobiet biznesu</h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/businesswoman.webp" alt="image">
                    </div>
                </div>
            </li>
             <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Hurtownia rur stalowych</h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/ecotech.webp" alt="image">
                    </div>
                </div>
            </li>
             <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Klub networkingowy</h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/master.webp" alt="image">
                    </div>
                </div>
            </li>
             <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Salon masażu</h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/staltom.webp" alt="image">
                    </div>
                </div>
            </li>
                         <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Producent nanokoloidów</h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/egp-1.webp" alt="image">
                    </div>
                </div>
            </li>
                         <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Platforma konsultingowa</h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/konsultacje.webp" alt="image">
                    </div>
                </div>
            </li>
                                     <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Producent konstrukcji stalowych</h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/staltom.webp" alt="image">
                    </div>
                </div>
            </li>

                                                 <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Osiedle dla wymagających </h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/gaszyn-1.webp" alt="image">
                    </div>
                </div>
            </li>
                                                 <li>
                <div class="hover-item">
                    <h2 class="h3 heading">Centrum rehabilitacji </h2>
                    <div class="hover-reveal image01">
                        <img class="hidden-img" src="/assets/img/c7med.webp" alt="image">
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>
</section>