.anim-line {
  display: inline-block;
  background-color: var(--color-border);
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.anim-line.is-inview {
  transform: scaleX(1);
}
