.button {
  position: relative;
  display: inline-block;
  padding: 0.7em 1em 0.8em 0;
  width: max-content;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-heading);
  border-radius: 13px;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.button::before {
  position: absolute;
  content: "";
  right: 0;
  left: 70%;
  top: 0;
  bottom: 0;
  background: var(--color-accent-1);
  transition: 0.3s ease-in-out;
  z-index: -1;
}

@media (min-width: 767px) {
  .button:hover {
    color: var(--color-white);
  }
  .button:hover::before {
    left: 0;
  }
}
