.footer-menu ul {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 45px;
  height: 45px;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.footer-menu li a {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
}
