.parallax-number-wrap {
  position: relative;
  text-align: center;
}

.parallax-number-wrap::before,
.parallax-number-wrap::after {
  position: absolute;
  content: "";
}

.parallax-number-wrap::before {
  top: -410px;
  left: calc(50% - 2px);
  width: 2px;
  height: 0;
  background: var(--color-border);
}

.parallax-number-wrap::after {
  top: -25px;
  left: calc(50% - 5px);
  width: 8px;
  height: 8px;
  background: var(--color-heading);
  border-radius: 50%;
}

.parallax-number {
  display: block;
  color: var(--color-accent-1);
}

.parallax-number-title {
  font-weight: 600;
}

@media (min-width: 767px) {
  .parallax-number-wrap::before {
    height: 400px;
  }
}
