
.accordion {
display: flex;
flex-direction: row;
justify-content: space-between;
position: relative;
padding: 2.5em 0;
cursor: pointer;
transition: all 0.3s ease;
}
.accordion .title {
padding-right: 3.2em;
transition: .1s ease-in-out
}

.icon {
    position: absolute;
    top: 50%;
    right: 2em;
    width: 26px;
    height: 3px;
    background: var(--color-accent-1);
    border-radius: 50%
}

.icon::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 26px;
    height: 3px;
    background: var(--color-accent-1);
    border-radius: 50%;
    transform: rotate(90deg);
    transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1)
}

.accordion.open .icon::before {
    transform: rotate(0)
}

.panel {
max-height: 0px;
overflow: hidden;
transition: all .6s ease-in-out;
}
.panel p {
margin: 1em 0
}
