.carousel-wrapper {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  aspect-ratio: 35/30;
}
.carousel-wrapper .slide-number {
  position: absolute;
  top: -25px;
  right: 0;
  color: var(--color-accent-1);
  z-index: 1;
}
.carousel-wrapper .carousel-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  opacity: 0;
  overflow: visible;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 1;
}
.carousel-wrapper .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  box-shadow: var(--shadow-img);
}
.carousel-wrapper .carousel-item[data-active-slide] {
  opacity: 1;
  z-index: 999;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.carousel-wrapper .carousel-arrow {
  position: absolute;
  top: calc(100% + 34px);
  display: flex;
  align-items: center;
  width: 55px;
  height: 55px;
  justify-content: center;
  background: var(--color-accent-2);
  padding-bottom: 10px;
  background: rgba(146, 146, 146, 0.06);
  font-size: 60px;
  border: 0;
  z-index: 2;
  color: var(--color-white);
  cursor: pointer;
  line-height: 0.5;
}
.carousel-wrapper .carousel-arrow[disabled],
.carousel-wrapper .carousel-arrow:disabled {
  color: var(--color-accent-1);
  cursor: not-allowed;
}
.carousel-wrapper .carousel-arrow[disabled]:hover,
.carousel-wrapper .carousel-arrow:disabled:hover {
  background: none;
}
.carousel-wrapper .carousel-arrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.carousel-wrapper .next {
  right: 5px;
}
.carousel-wrapper .prev {
  left: 5px;
}
.carousel-dots {
  position: absolute;
  width: 100%;
  bottom: 5em;
  display: flex;
  gap: 8px;
  z-index: 2;
}
.carousel-dots .dots {
  background-color: transparent;
  padding: 7px;
  border: 1px solid var(--color-accent-1);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.6
}
.carousel-dots .dots[data-active-dot] {
  background-color: var(--color-accent-1);
}
@media (min-width: 767px) {
  .carousel-wrapper .carousel-item {
    gap: 20px;
  }
  .carousel-wrapper .carousel-arrow {
    top: 40%;
    font-size: 40px;
    color: var(--color-accent-1);
    opacity: 0.5;
  }
  .carousel-wrapper .next {
    right: -70px;
  }
  .carousel-wrapper .prev {
    left: -70px;
  }
}
