.client-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: .5
}

.client-logo-wrap:hover {
    opacity: 1
}

.client-logo-wrap:hover img {
    filter: grayscale(0%)
}

.client-logo-wrap img {
    max-width: 115px;
    height: auto;
    filter: grayscale(100%);
    transition: .8s cubic-bezier(0.215, 0.610, 0.355, 1)
}