
.card-wrap {
    position: relative;
  }
  
  .card-wrap:hover img {
    transform: scale(1.06)
  }
  
  .card {
    aspect-ratio: 4/5;
    opacity: .2
  }
  
  .card-wrap .image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1
  }
  
  .card-wrap .image-wrapper img {
    transition: .5s
  }
  
  @media(min-width:767px) {
    .card {
      transform: perspective(1000px) rotateX(10deg) rotateY(-20deg) scale3d(1, 1, 1); 
      will-change: transform
    }
  }