</main>

<footer id="colophon" class="site-footer pt-medium pb-medium pb-md-large bg-light-2" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <nav class="footer-menu">
                    <ul>
                        <li><a href="mailto:kontakt@futurewebstudio.pl" title="Adres email" aria-label="Adres email">kontakt@futurewebstudio.pl</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 d-md-flex align-items-center justify-content-end">
                <nav class="footer-menu">
                    <ul>
                         <li>
                            © {% year %}
                         </li>
                        <li><a href="/polityka-prywatnosci" rel="nofollow" title="Polityka prywatności" aria-label="Polityka prywatności">Polityka prywatności</a></li>
                        <li><a href="/regulamin" title="Regulamin" rel="nofollow" aria-label="Regulamin">Regulamin</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

</div>
</div>
<!--
<div class="bg-gradient-wrap d-none d-lg-block">
    <div class="bg-gradient"></div>
</div>
-->
<div class="site-overlay"></div>
<canvas class="grain"></canvas>
<div class="visual-grid">
    <div class="container"></div>
</div>