<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/assets/fonts/Jost/static/Jost-Bold.ttf" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/Lato/Lato-Regular.ttf" as="font" crossorigin>
    <meta name="author" content="Przemek Miros">
    <title>{{ title }} | Przemek Miros</title>
    <meta name="description" content="{{ description }} ">
    
    <meta name="google-site-verification" content="_uLorccZIpY-NlRb036yMXgs2lvctMD5A_aSlU6HRa4" />

    <meta property="og:title" content="Przemek Miros">
    <meta property="og:url" content="https://przemekmiros.pl"/> 
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://przemekmiros.pl/assets/img/opengraph.png"> 

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Przemek Miros" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="https://przemekmiros.pl/assets/img/opengraph.png" />
    
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">

    <!--
    <link rel="preload" href="assets/css/cursor.css" type="text/css" as="style" onload="this.onload=null; this.rel='stylesheet'; "/>
    -->

    <link href="public/admin/config.yml" type="text/yaml" rel="cms-config-url">

    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

    <style>
        @font-face {
            font-family: 'Jost';
            src: url('/assets/fonts/Jost/static/Jost-Bold.ttf') format('truetype');
            font-display: swap;
        }
        @font-face {
            font-family: 'Lato';
            src: url('/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
            font-display: swap;
        }
    </style>

  
</head>

<body class="page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
    <div class="bg-gradient-wrap d-none d-lg-block">
      <div class="bg-gradient"></div>
    </div>
    <div data-scroll-container>
