---
title: Nie znaleziono strony
permalink: 404.html
layout: layouts/blog.njk
---
    <h1>{{ title }}</h1>
    <p>Wygląda na to że nie ma takiej strony </p>
    <a href="/" class="button" title="Wróc na stronę główną">Wróć na stronę główną</a>
    <div class="pt-large"></div>