---
layout: layouts/blog.njk
title: Porady i ciekawostki
description: Porady i ciekawostki dotyczące tworzenia stron, pozycjonowania i digital marketingu
pagination: 
    data: collections.posts
    size: 9
    alias: blog
---

<h1 class="big-text mt-5">
    {{ title }}
    <span class="xxl text-stroke d-none d-md-inline">Artykuły</span>
</h1>
<span class="anim-line" data-scroll></span>

<div class="row gx-4 pt-small pb-small">
    {% for post in blog %}
    <div class="col-md-6 col-xl-4">
        <a href="{{ post.url }}">
            <div class="archive-post-image-wrap {{ post.data.color }}">
                <div class="archive-post-thumb">
                    <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" loading="lazy"/>
                </div>
                <div class="archive-post-title-wrap">
                    <p class="archive-post-date mt-3 mb-1"> 
                        <small>{{ post.data.date | dateDisplay }}</small>  <small>{{ post.data.tag }}</small>
                    </p>
                    <h2 class="archive-post-title h5 mt-0 mb-3">
                        {{ post.data.title }}
                    </h2>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<nav>
    <ul class="pagination d-flex">
        {%- for pageEntry in pagination.pages %}
        <li class="pagination-item">
            <a class="pagination-link" href="{{ pagination.hrefs[ loop.index0 ] }}"
                {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="active"
                {% endif %}>{{ loop.index }}</a></li>
        {%- endfor %}
    </ul>
</nav>