---
layout: layouts/base.njk
title: Regulamin
---

<section class="pt-large pb-large" data-scroll-section>
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                            <h4 class="reveal_short">Niniejsze warunki regulują korzystanie ze strony internetowej przemekmiros.pl. Korzystając z
            mojej strony internetowej, w pełni akceptujesz niniejsze warunki.</h4>
                    <p>
                        <strong>WARUNKI KORZYSTANIA ZE STRONY</strong>
                    </p>
                    <p>
                        Serwis wykorzystuje dane osobowe w następujących celach:
                    </p>
                    <ol>
                        <li>obsługa zapytań przez formularz</li>
                        <li>realizacja zamówionych usług</li>
                        <li>prezentacja oferty lub informacji</li>
                    </ol>
                    <p>
                        <strong>Wybrane metody ochrony danych stosowane przez Operatora</strong>
                    </p>
                    <p>
                        Miejsca logowania i wprowadzania danych osobowych są chronione w warstwie transmisji (certyfikat SSL). Dzięki temu dane
                        osobowe i dane logowania, wprowadzone na stronie, zostają zaszyfrowane w komputerze użytkownika i mogą być odczytane
                        jedynie na docelowym serwerze.
                    </p>
                    <p>
                        <strong>Hosting</strong>
                    </p>
                    <p>
                        Serwis jest hostowany (technicznie utrzymywany) na serwera operatora: Ovh
                    </p>
                    <p>
                        <strong>Informacje w formularzach</strong>
                    </p>
                    <p>
                        Serwis zbiera informacje podane dobrowolnie przez użytkownika, w tym dane osobowe, o ile zostaną one podane.
                    </p>
                    <p>
                        Serwis, w niektórych wypadkach, może zapisać informację ułatwiającą powiązanie danych w formularzu z adresem e-mail
                        użytkownika wypełniającego formularz. W takim wypadku adres e-mail użytkownika pojawia się wewnątrz adresu url strony
                        zawierającej formularz.
                    </p>
                    <p>
                        Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np. w celu dokonania
                        procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego, rejestracji usług itp. Każdorazowo kontekst i opis
                        formularza w czytelny sposób informuje, do czego on służy.
                    </p>
                    <p>
                        <strong>Informacja o plikach cookies</strong>
                    </p>
                    <p>
                        Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w
                        urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies
                        zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz
                        unikalny numer.
                    </p>
                    <p>
                        Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest
                        operator Serwisu.
                    </p>
                    <p>
                        W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe”
                        (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym
                        Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki
                        internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w
                        parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.
                    </p>
                    <p>
                        Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza
                        przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym
                        zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików
                        cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.
                    </p>
                    <p>
                        Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych
                        Serwisu.
                    </p>
                    <p>
                        Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu wykorzystywane mogą być również przez
                        współpracujące z operatorem Serwisu podmioty, w szczególności dotyczy to firm: Google (Google Inc. z siedzibą w USA),
                        Facebook (Facebook Inc. z siedzibą w USA), Twitter (Twitter Inc. z siedzibą w USA).
                    </p>
                </div>
            </div>
        </div>
    </section>