<section class="pb-xsmall pb-md-xlarge pt-xsmall pt-md-medium">
    <div class="container">
    <div class="row" data-scroll-section>
        <div class="col-md-5 fade-in-down" data-scroll>
            <h2 class="big-text">
                Usługi
                <span class="xxl text-stroke d-none d-md-inline">Usługi</span>
            </h2>
            <p class="">
                Wykonuję strony internetowe dla małych i średnich firm. Do każdego zlecenia podchodzę z dużym zaangażowaniem oraz z dbałością o każdy szczegół.
            </p>
        </div>
        <div class="offset-md-1 col-md-6 d-flex justify-content-evenly pt-small">
                <div class="parallax-number-wrap mt-md-0" data-scroll data-scroll-speed="2">
                    <span class="h2 parallax-number mb-0">6</span>
                    <small class="parallax-number-title mt-0">
                        Lat <br />doświadczenia
                    </small>
                </div>
                <div class="parallax-number-wrap" data-scroll data-scroll-speed="1">
                    <span class="h2 parallax-number mb-0">74</span>
                    <small class="parallax-number-title mt-0">
                        <strong>Wykonane <br />strony</strong>
                    </small>
                </div>
                <div class="parallax-number-wrap" data-scroll data-scroll-speed="4">
                    <span class="h2 parallax-number mb-0">57</span>
                    <small class="parallax-number-title mt-0">
                        Zadowolonych <br />klientów
                    </small>
                </div>
        </div>
    </div>
    </div>
</section>