<section class="pt-md-small pb-md-small text-center">
    <div class="container">
    <div class="row" data-scroll-section>
        <div class="col-4 col-lg-2 fade-in-down" data-scroll>
                <div class="client-logo-wrap">
                    {% Image "src/assets/img/clients/logo-ecotech.png", "Logo Eco Tech" %}
                </div>
        </div>
        <div class="col-4 col-lg-2 fade-in-down" data-scroll>
                <div class="client-logo-wrap">
                    {% Image "src/assets/img/clients/logo-business.png", "Logo Business Woman Life" %}
                </div>
        </div>
        <div class="col-4 col-lg-2 fade-in-down" data-scroll>
                <div class="client-logo-wrap">
                    {% Image "src/assets/img/clients/logo-c7med.png", "Logo C7Med" %}
                </div>
        </div>
        <div class="col-4 col-lg-2 fade-in-down" data-scroll>
                <div class="client-logo-wrap">
                    {% Image "src/assets/img/clients/logo-staltom.png", "Logo Staltom" %}
                </div>
        </div>
        <div class="col-4 col-lg-2 fade-in-down" data-scroll>
                <div class="client-logo-wrap">
                    {% Image "src/assets/img/clients/logo-egp.png", "Logo EGP System" %}
                </div>
        </div>
        <div class="col-4 col-lg-2 fade-in-down" data-scroll>
                <div class="client-logo-wrap">
                    {% Image "src/assets/img/clients/logo-gaszyn.png", "Logo Gaszyn" %}
                </div>     
        </div>
    </div>
    </div>
</section>