<section class="pt-md-small pb-md-small text-center">
    <div class="container">
    <div class="row" data-scroll-section>
        <div class="col-4 col-lg-2">
            <div class="client-logo-wrap">
            <div>
                <img src="/assets/img/clients/business.webp" alt="Client logo" width="246" height="83" loading="lazy" class="fade-in-down" data-scroll>
            </div>
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <div class="client-logo-wrap">
            <div>
                <img src="/assets/img/clients/C7-logo.webp" alt="Client logo" width="163" height="153" loading="lazy" class="fade-in-down" data-scroll>
            </div>
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <div class="client-logo-wrap">
            <div>
                <img src="/assets/img/clients/eco-logo.webp" alt="Client logo" width="163" height="153" loading="lazy" class="fade-in-down" data-scroll>
            </div>
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <div class="client-logo-wrap">
            <div>
                <img src="/assets/img/clients/gaszyn-logo.webp" alt="Client logo" width="206" height="193" loading="lazy" class="fade-in-down" data-scroll>
            </div>
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <div class="client-logo-wrap">
            <div>
                <img src="/assets/img/clients/egp.webp" alt="Client logo" width="256" height="195" loading="lazy" class="fade-in-down" data-scroll>
            </div>
            </div>
        </div>
        <div class="col-4 col-lg-2">
            <div class="client-logo-wrap">
            <div>
                <img src="/assets/img/clients/staltom.webp" alt="Client logo" width="229" height="31" loading="lazy" class="fade-in-down" data-scroll>
            </div>
            </div>        
        </div>
    </div>
    </div>
</section>