
<section
    class="hero-main hero-main-5 p-relative pt-large pb-md-medium mt-5"
    data-scroll-section="data-scroll-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 pt-xsmall pb-large text-center">
                <p class="mt-0 mb-2">
                    <small id="greeting"><small>
                </p>
                <h1 class="xl mt-md-3">
                    Projektuję i koduje <span class="color-accent-1"> skuteczne </span><br/>strony internetowe
                </h1>
            </div>
        </div>
        <div class="row gx-6 pb-small tilt-wrap">
            <div class="col-md-4 d-none d-md-block">
                <a  href="/realizacje/egp-system/"
                    title="Realizacja dla EGP System"
                    aria-label="Realizacja dla EGP System">
                <div class="card-wrap fade-in-down" data-scroll>
                    {% Image "src/assets/img/mockups/hero-mockup-1.png", "Mockup EGP System" %}
                    <div class="card bg-red">
                        
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4 d-none d-md-block" data-scroll data-scroll-speed="1.5">
                <a  href="/realizacje/business-woman-and-life/"
                    title="Realizacja dla Business Woman and Life"
                    aria-label="Realizacja dla Business Woman and Life">
                <div class="card-wrap fade-in-down" data-scroll>
                    {% Image "src/assets/img/mockups/hero-mockup-2.png", "Business Woman and Life" %}
                    <div class="card bg-green">
                        
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a  href="/realizacje/staltom/"
                    title="Realizacja dla Staltom"
                    aria-label="Realizacja dla Staltom">
                <div class="card-wrap fade-in-down" data-scroll>
                    {% Image "src/assets/img/mockups/hero-mockup-3.png", "Mockup Staltom" %}
                    <div class="card bg-blue">
                        
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

