<section
    class="hero-main hero-main-2 pt-md-large pt-xlarge pb-small pb-md-xlarge mt-md-5"
    data-scroll-section="data-scroll-section">
    <div class="container">
        <p class="subheading mt-5 pb-md-xsmall">
            Dzień dobry
        </p>
        <h1 class="mt-3 mb-4 mb-md-5">
            Pokaż się <br/>z najlepszej<span class="color-accent-1">
                strony</span>
        </h1>
        <div class="row h-100">
            <div class="col-md-8">
                <p class="offset-md-1 col-md-8 col-xl-6 mt-0">
                    Śledzę trendy i nowinki techniczne. Koduje, optymalizuje, testuje i wdrażam. Stwórz ze mną stronę www której nie da się
                    zapomnieć
                </p>
            </div>
            <div class="col-md-4 order-md-first">
                <a href="/kontakt" class="button mt-2 mb-5" title="Zobacz więcej">
                    Zobacz więcej
                </a>
            </div>
        </div>
    </div>
</section>