
<section
    class="hero-main p-relative pt-md-medium pt-xlarge pb-medium mt-md-5"
    data-scroll-section="data-scroll-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 pt-small pt-md-medium">
                <strong>
                    <div id="greeting"></div>
                </strong>
                <h1>
                    Tworzę skuteczne <br/><span class="color-accent-1">strony internetowe</span>
                </h1>
                <p class="col-xl-11">
                    Szukasz rzetelnego freelancera, który wykonuje zlecone usługi na wysokim poziomie dbając o detale oraz wykorzystując najlepsze wzorce?  
                </p>
                    <div class="avatar-wrap mt-4">
                        <a href="/kontakt" title="Skontaktuj się">
                            <img src="/assets/img/avatar.jpg" alt="Przemek Miros avatar"/>
                            <span>
                            Skontaktuj się
                            </span>
                        </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                 <div>
                    {% Image "src/assets/img/mockups/staltom-1.png", "Mockup Staltom" %}
                 </div>   
            </div>
            <div class="col-md-4 col-lg-3 d-none d-lg-block pt-small" data-scroll data-scroll-speed="2">
                <div>
                    {% Image "src/assets/img/mockups/staltom-2.png", "Mockup Staltom" %}
                 </div>
            </div>
        </div>
    </div>
</section>

