
<section
    class="hero-main hero-main-5 p-relative pt-large pb-md-medium mt-5"
    data-scroll-section="data-scroll-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 pt-xsmall pb-large text-center">
                <p class="mt-0 mb-2">
                    <small id="greeting"><small>
                </p>
                <h1 class="xl mt-3">
                    Projektuję i koduje <span class="color-accent-1"> skuteczne </span><br/>strony internetowe
                </h1>
            </div>
        </div>
        <div class="row gx-6 pb-small tilt-wrap">
            <div class="col-md-4 d-none d-md-block">
                <div class="card">
                    {% Image "src/assets/img/mockups/hero-mockup-1.jpg", "Mockup Staltom 1" %}
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block" data-scroll data-scroll-speed="1">
                <div class="card">
                    {% Image "src/assets/img/mockups/hero-mockup-2.jpg", "Mockup Staltom 2" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    {% Image "src/assets/img/mockups/hero-mockup-3.jpg", "Mockup Staltom 3" %}
                </div>
            </div>
        </div>
    </div>
</section>

