<section class="hero-main hero-main-1 pt-md-xlarge pt-xxlarge pb-large mt-md-5" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-end">
                <h1 class="xl mb-1 w-md-120">
                    Pokaż się z najlepszej<span class="color-accent-1"> strony</span>
                </h1>
            </div>
            <div class="col-md-1 d-none d-md-block">
                <span href="#" class="go-down-btn">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="350px" height="350px" viewbox="0 0 100 100"
                        enable-background="new 0 0 100 100" xml:space="preserve">
                        <path id="textPath" fill="none" d="M89.322,50.197c0,22.09-17.91,40-40,40c-22.089,0-40-17.91-40-40
                                c0-22.089,17.911-40,40-40C71.412,10.197,89.322,28.108,89.322,50.197z" />
                        <text>
                            <textPath xlink:href="#textPath">
                                <tspan x="10">Nowoczesne</tspan>
                                <tspan x="76" dx="30">Strony</tspan>
                                <tspan x="103" dx="60">Internetowe</tspan>
                            </textPath>
                        </text>
                    </svg>
                    <img src="/assets/img/eye.gif" alt="Eye">
                </span>
            </div>
            <div class="col-md-5 d-flex align-items-end">
                <p class="mb-3">
                    Śledzę trendy i nowinki techniczne. Koduje, optymalizuje, testuje i wdrażam. Stwórz ze mną stronę
                    www której nie da się
                    zapomnieć
                </p>
            </div>
        </div>
</div>
</section>