
<section class="hero-main hero-main-5 p-relative pt-small pt-md-large pb-xsmall pb-md-medium mt-5" data-scroll-section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 pt-xsmall pb-xsmall text-center">
                <p class="mt-0 mb-2">
                    <small id="greeting"><small>
                </p>
                <h1 class="xl mt-md-3">
                    Pokaż się w internecie<br/><span class="color-accent-1"> z najlepszej</span> strony 
                </h1>
            </div>
        </div>

        <div class="fade-in-down" data-scroll>
            {% Image "src/assets/img/hero-5.png", "Mockup Staltom" %}
        </div>

    </div>
</section>
