<section class="pt-xsmall pt-md-medium p-relative">
    <div class="container">
        <div class="pb-md-small" data-scroll-section>
            <h2 class="big-text mb-md-5 fade-in-down" data-scroll>
                Sprawdź moje <br /><span class="color-accent-1"> ostatnie realizacje</span>
                <span class="xxl text-stroke d-none d-md-inline">Realizacje</span>
            </h2>
            <span class="anim-line" data-scroll></span>
        </div>
        <div class="row">
            <div class="col-md-6 col-xxl-5" data-scroll-section>
                <div class="fade-in-down" data-scroll>
                    <p class="mt-3 mt-md-0">
                        Planuję, szkicuje, śledzę trendy i nowinki techniczne. Koduje, testuje, optymalizuje, wdrażam. Stwórz ze mną stronę internetową której nie da się zapomnieć.
                    </p>
                    <a href="/realizacje" class="button mt-2 mb-5" title="Realizacje">
                        Zobacz realizacje
                    </a>
                    <!-- Pagination Dots -->
                    <div class="carousel-dots d-none d-md-flex" data-carousel-dots>
                        <button type="button" class="dots" data-active-dot js-data-dots data-dots-index="1" aria-label="Slider button 1"></button>
                        <button type="button" class="dots" js-data-dots data-dots-index="2" aria-label="Slider button 2"></button>
                        <button type="button" class="dots" js-data-dots data-dots-index="3" aria-label="Slider button 3"></button>
                        <button type="button" class="dots" js-data-dots data-dots-index="4" aria-label="Slider button 4"></button>
                        <button type="button" class="dots" js-data-dots data-dots-index="5" aria-label="Slider button 5"></button>
                        <button type="button" class="dots" js-data-dots data-dots-index="6" aria-label="Slider button 6"></button>
                        <button type="button" class="dots" js-data-dots data-dots-index="7" aria-label="Slider button 6"></button>
                    </div>
                    <div class="d-none d-md-block pb-large"></div>
                </div>
            </div>
            <div class="offset-xxl-1 col-md-6 col-xxl-6 mb-minus-large" data-scroll-section>
                <div class="pl-xl-0 pr-xl-5" >
                    <div
                        class="carousel-wrapper" js-carousel-wrapper>
                        <!-- Counter -->
                        <div class="slide-number">
                            <span class="slide-number-text" js-slide-number-text>
                                1 / 5</span>
                        </div>
                        <!-- Images -->
                        <a
                            href="/realizacje/business-woman-and-life/"
                            title="Realizacja dla Business Woman and Life"
                            aria-label="Realizacja dla Business Woman and Life"
                            class="carousel-item"
                            js-carousel-item
                            data-active-slide>
                            <div class="fade-in-down" data-scroll>
                                {% Image "src/assets/img/mockups/business-1.jpg", "Business Woman Life - Mockup 1" %}
                            </div>
                            <div class="fade-in-down" data-scroll data-scroll-speed="1.5">
                                {% Image "src/assets/img/mockups/business-2.jpg", "Business Woman Life - Mockup 2" %}
                            </div>
                        </a>
                        <a
                            href="/realizacje/eco-tech-group/"
                            title="Realizacja dla Eco Tech Group"
                            aria-label="Realizacja dla Eco Tech Group"
                            class="carousel-item"
                            js-carousel-item
                            data-active-slide>
                            <div class="fade-in-down" data-scroll>
                                {% Image "src/assets/img/mockups/ecotech-1.jpg", "Eco Tech Group - Mockup 1" %}
                            </div>
                            <div class="fade-in-down" data-scroll data-scroll-speed="1.5">
                                {% Image "src/assets/img/mockups/ecotech-2.jpg", "Eco Tech Group - Mockup 2" %}
                            </div>
                        </a>
                        <a
                            href="/realizacje/staltom/"
                            title="Realizacja dla Staltom"
                            aria-label="Realizacja dla Staltom"
                            class="carousel-item"
                            js-carousel-item>
                            <div>
                                {% Image "src/assets/img/mockups/staltom-1.png", "Staltom - Mockup 1" %}
                            </div>
                            <div data-scroll data-scroll-speed="1.5">
                                {% Image "src/assets/img/mockups/staltom-2.png", "Staltom - Mockup 2" %}
                            </div>
                        </a>
                        <a
                            href="/realizacje/pizzeria-bianca/"
                            title="Realizacja dla pizzerii Bianca"
                            aria-label="Realizacja dla pizzerii Bianca"
                            class="carousel-item"
                            js-carousel-item>
                            <div>
                                {% Image "src/assets/img/mockups/bianca-1.jpg", "Bianca - Mockup 1" %}
                            </div>
                            <div data-scroll data-scroll-speed="1.5">
                                {% Image "src/assets/img/mockups/bianca-2.jpg", "Bianca - Mockup 2" %}
                            </div>
                        </a>
                        <a
                            href="/realizacje/egp-system/"
                            title="Realizacja dla EGP System"
                            aria-label="Realizacja dla EGP System"
                            class="carousel-item"
                            js-carousel-item>
                            <div>
                                {% Image "src/assets/img/mockups/egp-1.jpg", "EGP System - Mockup 1" %}
                            </div>
                            <div data-scroll data-scroll-speed="1.5">
                                {% Image "src/assets/img/mockups/egp-2.jpg", "EGP System - Mockup 2" %}
                            </div>
                        </a>
                        <a
                            href="/realizacje/c7med/"
                            title="Realizacja dla C7Med"
                            aria-label="Realizacja dla C7Med"
                            class="carousel-item"
                            js-carousel-item>
                            <div>
                                {% Image "src/assets/img/mockups/c7med-1.jpg", "C7Med - Mockup 1" %}
                            </div>
                            <div data-scroll data-scroll-speed="1.5">
                                {% Image "src/assets/img/mockups/c7med-2.jpg", "C7Med - Mockup 2" %}
                            </div>
                        </a>
                        <a
                            href="/realizacje/mastermatch-online/"
                            title="Realizacja dla MasterMatch.online"
                            aria-label="Realizacja dla MasterMatch.online"
                            class="carousel-item"
                            js-carousel-item>
                            <div>
                                {% Image "src/assets/img/mockups/master-1.jpg", "MasterMatch - Mockup 1" %}
                            </div>
                            <div data-scroll data-scroll-speed="1.5">
                                {% Image "src/assets/img/mockups/master-2.jpg", "MasterMatch - Mockup 2" %}
                            </div>
                        </a>
                        <!-- Navigation Arrows -->
                        <button type="button" class="carousel-arrow prev" data-carousel-arrows data-dir="prev">
                            &#x2039;
                        </button>
                        <button type="button" class="carousel-arrow next" data-carousel-arrows data-dir="next">
                            &#x203A;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-large pb-large bg-light-3" data-scroll-section></section>

