<section class="pb-md-small" data-scroll-section>
            <div class="container">
    <div class="row">
        <div class="col-lg-5 col-xl-5 mt-2 fade-in-down" data-scroll id="sticky">
            <div class=" pt-medium" data-scroll data-scroll-sticky data-scroll-target="#sticky">
                <h2 class="mt-0">
                    Zobacz co zyskasz <br /><span class="color-accent-1"> na współpracy</span>
                </h2>
                <p class="">
                    Atrakcyjną wizualnie i skuteczną stronę www która będzie realizować cele biznesowe Twojej firmy.
                </p>
                <a href="/wycena" class="button mt-3 mb-5" title="Bezpłatna wycena">
                    Bezpłatna wycena
                </a>
                <div class="pt-large d-none d-lg-block"></div>
            </div>
        </div>
        <div class="offset-xl-1 col-lg-6 col-xl-6 mb-3">
            <ul class="service-list pt-md-small"> 
                <li class="service-list-item fade-in-down" data-scroll>
                    <div class="service-list-item-header">
                        <span class="service-list-item-number">
                            01
                        </span>
                        <h3 class="h5 p-relative">
                            Rozpoznanie potrzeb klientów
                        </h3>
                    </div>
                    {% Image "src/assets/img/process-2.jpeg", "Rozpoznam potrzeby klientów" %}
                </li>
                <li class="service-list-item fade-in-down" data-scroll>
                    <div class="service-list-item-header">
                        <span class="service-list-item-number">
                            02
                        </span>
                        <h3 class="h5 p-relative">
                            Analizę Twojej konkurencji
                        </h3>
                    </div>
                    {% Image "src/assets/img/process-2.jpeg", "Przeanalizuje Twoją konkurencję" %}
                </li>
                <li class="service-list-item fade-in-down" data-scroll>
                    <div class="service-list-item-header">
                        <span class="service-list-item-number">
                            03
                        </span>
                        <h3 class="h5 p-relative">
                           Atrakcyjny projekt graficzny strony
                        </h3>
                    </div>
                      {% Image "src/assets/img/process-2.jpeg", "Stworzę projekt graficzny strony" %}
                </li>
                <li class="service-list-item fade-in-down" data-scroll>
                    <div class="service-list-item-header">
                        <span class="service-list-item-number">
                            04
                        </span>
                        <h3 class="h5 p-relative">
                            Wykonanie prac programistycznych
                        </h3>
                    </div>
                      {% Image "src/assets/img/process.jpg", "Wykonam prace programistyczne" %}
                </li>
                <li class="service-list-item fade-in-down" data-scroll>
                    <div class="service-list-item-header">
                        <span class="service-list-item-number">
                            05
                        </span>
                        <h3 class="h5 p-relative">
                            Optymalizacje i przetestowanie strony
                        </h3>
                    </div>
                      {% Image "src/assets/img/process.jpg", "Zoptymalizuje i przetestuje stronę" %}
                </li>
                <li class="service-list-item fade-in-down" data-scroll>
                    <div class="service-list-item-header">
                        <span class="service-list-item-number">
                            06
                        </span>
                        <h3 class="h5 p-relative">
                            Gotową witrynę na serwerze
                        </h3>
                    </div>
                      {% Image "src/assets/img/process.jpg", "Uruchomię witrynę na serwerze" %}
                </li>
            </ul>
        </div>
    </div>
    </div>
</section>