<section class="pt-small pb-small text-center">
    <div class="container">
        <div class="w-md-75 mx-auto" data-scroll-section="data-scroll-section">
            <h2 class="h3 fade-in-down" data-scroll="data-scroll">
                <span class="d-none d-md-inline">Jestem partnerem i doradcą biznesowym a nie kolejną agencją.</span>
                Postaw na specjalistyczne wsparcie i skutecznie rozwijaj swój biznes
            </h2>
            <div class="fade-in-down" data-scroll="data-scroll">
            <a href="/realizacje" class="button mt-5" title="Zobacz realizacje">
                Zobacz realizacje
            </a>
            </div>
        </div>
    </div>
</section>