<section class="pt-medium pt-xlarge pb-medium pb-xlarge">
    <div class="container">
        <div class="row" data-scroll-section>
            <div class="col-md-5 fade-in-down" data-scroll>
                <h2 class="mt-1 mb-1">
                    Opinie klientów
                </h2>
            </div>
            <div class="offset-md-1 col-md-6 mb-3 fade-in-down" data-scroll>
                <p>
                    Planuję, szkicuje, śledzę trendy i nowinki techniczne. Koduje, optymalizuje, testuje i wdrażam.
                    Planuję,
                    szkicuje, śledzę trendy i nowinki techniczne. Koduje, optymalizuje, testuje i wdrażam.
                </p>
            </div>
        </div>
    </div>
</section>